<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="RegisterPage.css">
  <title>Registro de usuario</title>
</head>

<body>
  <button></button>
  <h1>¡Empecemos!</h1>
  <img>
  <form>
    <input type="text" placeholder="Nombres">
    <input type="text" placeholder="Apellidos">
    <input type="number" placeholder="Edad">
    <input type="numbre" placeholder="Sueldo">
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Contraseña">
    <input type="text" placeholder="Confirmar contraseña">
    <select>
      <option value="1">Semanal</option>
      <option value="2">Quincenal</option>
      <option value="3">Mensual</option>
    </select>
    <button>Continuar</button>
  </form>
</body>
</html>