<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="RegisterPage.css">
  <title>Registro de usuario</title>
</head>

<body>
  <button></button>
  <h1>¡Empecemos!</h1>
  <img>
  <form action="/new-user" method="POST">
    <input type="text" placeholder="Nombres" name="names">
    <input type="text" placeholder="Apellidos" name="lastNames">
    <input type="number" placeholder="Edad" name="age">
    <input type="numbre" placeholder="Sueldo" name="salary">
    <input type="text" placeholder="Email" name="email">
    <input type="text" placeholder="Contraseña" name="password">
    <input type="text" placeholder="Confirmar contraseña" name="confirmPassword">
    <select name="frequencySalary">
      <option value="0">Seleccione una opción</option>
      <option value="Semanal">Semanal</option>
      <option value="Quincenal">Quincenal</option>
      <option value="Mensual">Mensual</option>
    </select>
    <button>Continuar</button>
  </form>
</body>
</html>